/* // X-Small devices (portrait phones, less than 576px) */ 

div.explore { width: 100%; display: block; background-color: var(--blue); }
div.explore div.explore-container { position: relative; display: block; width: 100%; padding: 0 24px; padding-bottom: 72px; }
div.explore-container-body { flex-direction: column; margin-top: 20px; gap: 40px }
div.explore-cards { display: flex; flex-direction: column; gap: 12px; }
div.card-item { display: flex; flex-flow: row nowrap; height: 135px!important; border: 2px solid var(--sky-blue); border-radius: 10px; justify-content: flex-start; align-items: center; }
div.card-item-icon { display: block; margin: 20px 16px 20px 20px; }
div.card-item-icon img { transform: scale(1); transition: transform 350ms; height: 70px; }
div.card-item-icon:hover img { transform: scale(1.20); transition: transform 350ms; }
div.card-item-text { height: 100%; display: flex; flex-flow: column; justify-content: space-between; padding-top: 20px; padding-bottom: 20px; padding-right: 21px; }
div.explore-form form { display: flex; flex-direction: column; }
div.explore-form form .form-group { display: flex; flex-direction: column; }
div.explore-form form .form-group input { width: 100%; height: 45px; border: 1px solid gray; border-radius: 8px; padding: 8px; }
div.explore-form form button[type=submit] { margin-top: 8px; }

    
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {     
    div.explore div.explore-container { position: relative; display: block; width: 100%; padding: 0 25px; padding-bottom: 72px; }
    div.explore-container-body {flex-direction: row; margin-top: 32px; gap: 20px; }
    div.explore-cards { display: flex; flex-direction: column; gap: 28px; width: 50%; }
    div.card-item { display: flex; flex-flow: row nowrap; height: 135px!important; border: 2px solid var(--sky-blue); border-radius: 10px; justify-content: flex-start; align-items: center; }
    div.card-item-icon { display: block; margin: 20px 16px 20px 20px; }
    div.card-item-icon img { transform: scale(1); transition: transform 350ms; height: 70px; }
    div.card-item-icon:hover img { transform: scale(1.20); transition: transform 350ms; }
    div.card-item-text { height: 100%; display: flex; flex-flow: column; justify-content: space-between; padding-top: 20px; padding-bottom: 20px; padding-right: 21px; }
    div.explore-form { width: 50%; }
    div.explore-form form { display: flex; flex-direction: column; }
    div.explore-form form button[type=submit] { margin-top: 8px; }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {     
    div.explore div.explore-container { position: relative; display: block; width: 100%; padding: 0 25px; padding-bottom: 72px; }
    div.explore-container-body {flex-direction: row; margin-top: 32px; gap: 20px; }
    div.explore-cards { display: flex; flex-direction: column; gap: 28px; width: 50%; }
    div.card-item { display: flex; flex-flow: row nowrap; height: 135px!important; border: 2px solid var(--sky-blue); border-radius: 10px; justify-content: flex-start; align-items: center; }
    div.card-item-icon { display: block; margin: 20px 16px 20px 20px; }
    div.card-item-icon img { transform: scale(1); transition: transform 350ms; height: 70px; }
    div.card-item-icon:hover img { transform: scale(1.20); transition: transform 350ms; }
    div.card-item-text { height: 100%; display: flex; flex-flow: column; justify-content: space-between; padding-top: 20px; padding-bottom: 20px; padding-right: 21px; }
    div.explore-form { width: 50%; }
    div.explore-form form { display: flex; flex-direction: column; }
    div.explore-form form button[type=submit] { margin-top: 8px; margin-left: auto; margin-right: auto; }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    div.explore { padding-top: 0px!important; padding-bottom: 100px!important; }
    div.explore div.explore-container-head { margin-bottom: 84px; }
    div.explore div.explore-container-body { display: flex; flex-direction: row-reverse; flex-wrap: nowrap; justify-content: space-between; }
    div.explore div.explore-container-body div.explore-cards { width: 588px; height: 414px; }
    div.explore div.explore-container-body div.explore-form { width: 486px; height: 414px; }
    div.explore-form div.whatsapp-input { display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; gap: 20px; }
    div.explore-form div.whatsapp-input button { position: relative; top: -8px; }
    div.explore div.explore-container-body div.explore-form  form > button { position: relative; top: -8px; }
    div.explore-cards { display: flex; flex-direction: column; gap: 12px; }
    div.explore-cards div.card-item { display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; gap: 14px; border: 2px solid var(--sky-blue); border-radius: 10px; }
    div.explore-cards div.card-item div.card-item-icon { width: 98px; }
    div.explore-cards div.card-item div.card-item-text { display: flex; flex-direction: column; gap: 8px; }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    div.explore { padding-top: 0px!important; padding-bottom: 100px!important; }
    div.explore div.explore-container-head { margin-bottom: 84px; }
    div.explore div.explore-container-body { display: flex; flex-direction: row-reverse; flex-wrap: nowrap; justify-content: space-between; }
    div.explore div.explore-container-body div.explore-cards { width: 588px; height: 414px; }
    div.explore div.explore-container-body div.explore-form { width: 486px; height: 414px; }
    div.explore-form div.whatsapp-input { display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; gap: 20px; }
    div.explore-form div.whatsapp-input button { position: relative; top: -8px; }
    div.explore div.explore-container-body div.explore-form  form > button { position: relative; top: -8px; }
    div.explore-cards { display: flex; flex-direction: column; gap: 12px; }
    div.explore-cards div.card-item { display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; gap: 14px; border: 2px solid var(--sky-blue); border-radius: 10px; }
    div.explore-cards div.card-item div.card-item-icon { width: 98px; }
    div.explore-cards div.card-item div.card-item-text { display: flex; flex-direction: column; gap: 8px; }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  
    div.explore { padding-top: 0px!important; padding-bottom: 100px!important; }
    div.explore div.explore-container-head { margin-bottom: 84px; }
    div.explore div.explore-container-body { display: flex; flex-direction: row-reverse; flex-wrap: nowrap; justify-content: space-between; }
    div.explore div.explore-container-body div.explore-cards { width: 588px; height: 414px; }
    div.explore div.explore-container-body div.explore-form { width: 486px; height: 414px; }
    div.explore-form div.whatsapp-input { display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; gap: 20px; }
    div.explore-form div.whatsapp-input button { position: relative; top: -8px; }
    div.explore div.explore-container-body div.explore-form  form > button { position: relative; top: -8px; }
    div.explore-cards { display: flex; flex-direction: column; gap: 12px; }
    div.explore-cards div.card-item { display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; gap: 14px; border: 2px solid var(--sky-blue); border-radius: 10px; }
    div.explore-cards div.card-item div.card-item-icon { width: 98px; }
    div.explore-cards div.card-item div.card-item-text { display: flex; flex-direction: column; gap: 8px; }
} 