 /* // X-Small devices (portrait phones, less than 576px) */  
div.hero { background: linear-gradient(180deg, #FFF 42.12%, #E2ECF8 72.95%); }
div.hero-container { display: block; position: relative; width: 100%; padding: 60px 24px 0px 24px; }
div.hero-container div.description-container { width: 100%; display: flex; flex-direction: column; align-items: center; gap: 16px; max-width: 694px; margin: 0 auto; }
div.hero-container div.description-container img.logo { display: block; height: 73px; width: 256px;  }
div.hero-container div.description-container button { margin-top: 16px; margin-bottom: 16px; }
div.hero-container div.description-container ul.hero-list { list-style: none; }
div.hero-container div.description-container ul.hero-list li { display: flex; flex-flow: row nowrap; gap: 8px; }
div.doctor-image div.hero-image-container { max-width: 381px !important; max-height: 409px !important; position: relative; margin: 0 24px; }
div.doctor-image { margin-top: 24px; display: flex; position: relative; background: linear-gradient(to bottom, transparent 50%, #1E73BE 50%); justify-content: center; width: calc(100% + 48px); left: -24px; }
div.doctor-image img { position: relative; z-index: 1010; width: 100%; height: 100%; max-width: 381px; }
div.circle-with-borders { position: absolute; display: block; width: 88%; height: 83%; border: 3px solid #05B2FA; border-radius: 50%; z-index: 1005; animation: expandCircle 1.5s ease infinite alternate; max-width: 381px; max-height: 381px; bottom: 0; right: 1%; }


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {     

} 

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {   

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}


@keyframes expandCircle {
    0% { transform: scale(1);} 
    100% { transform: scale(1.06);}
}
 